In [2]:
import pandas as pd
import numpy as np

file_name = 'processing_ready_data.xlsx'
df = pd.read_excel(io=file_name)

In [176]:
extreme_columns = df.columns[2:10]

In [177]:
x_df = df[extreme_columns]

In [178]:
x_df = x_df.apply(lambda x: x - 1)

In [179]:
sum = x_df.iloc[:].sum(axis=1)
x_df.insert(len(x_df.columns), 'Sum', sum)
x_df

,extreme_1,extreme_2,extreme_3,extreme_4,extreme_5,extreme_6,extreme_7,extreme_8,Sum
0,5,4,2,0,1,1,0,1,14
1,3,3,3,1,0,1,0,0,11
2,3,3,5,0,2,1,0,0,14
3,2,2,1,3,3,3,1,3,18
4,2,2,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...
230,4,2,1,4,0,3,4,0,18
231,3,3,4,1,3,1,1,1,17
232,1,3,4,4,3,4,4,4,27
233,5,5,5,5,5,5,5,0,35
234,5,5,1,5,2,1,0,0,19

In [180]:
extreme_proportion = [f'{item}_pro' for item in extreme_columns]
extreme_proportion

['extreme_1_pro',
 'extreme_2_pro',
 'extreme_3_pro',
 'extreme_4_pro',
 'extreme_5_pro',
 'extreme_6_pro',
 'extreme_7_pro',
 'extreme_8_pro']

In [181]:
extreme_proportion[0][:-4]

'extreme_1'

In [182]:
for item in extreme_proportion:
    x_df[item] = x_df[item[:-4]].div(x_df['Sum'].values)

In [183]:
values = [1.21, 1.49, 1.75, 2.06, 2.53, 2.85, 3.19, 3.78]
extreme_result = [f'{item}_res' for item in extreme_columns]

In [184]:
for i in range(len(values)):
    print(extreme_result[i])
    x_df[extreme_result[i]] = x_df[extreme_proportion[i]].mul(values[i])

extreme_1_res
extreme_2_res
extreme_3_res
extreme_4_res
extreme_5_res
extreme_6_res
extreme_7_res
extreme_8_res

In [185]:
score = x_df[extreme_result].iloc[:].sum(axis=1)
x_df.insert(0, 'Score', score)

In [188]:
for x, y in zip(df['extreme_score'], x_df['Score']):
    print(x, y)

2.308059384941676 1.762142857142857
1.968186638388123 1.66
2.312831389183457 1.7685714285714285
3.332979851537646 2.4444444444444438
1.286320254506893 1.35
3.610286320254507 2.1404347826086956
2.472428419936374 1.9835714285714283
2.860021208907741 2.3386666666666667
2.968186638388123 2.32
4.86373276776246 2.1432352941176473
2.945387062566278 2.2931250000000003
1.583775185577943 1.5728571428571427
4.683457051961825 2.4810714285714286
3.671261930010604 2.399047619047619
2.683987274655355 2.4430769230769234
1.42948038176034 1.35
1.45864262990456 1.4416666666666664
2.542948038176034 2.0785714285714283
2.688759278897137 2.654166666666667
4.222163308589607 2.7622727272727268
1.320784729586427 1.21
1.916755037115589 2.16125
3.463414634146341 2.4452631578947366
1.882820784729586 2.3785714285714286
2.551961823966066 2.6609090909090907
4.820254506892895 2.5732142857142857
4.750795334040298 2.5264285714285712
2.015906680805938 1.5966666666666667
1.221102863202545 1.39
4.152173913043478 1.9816666666666665
2.187168610816543 1.5992857142857142
3.141569459172853 2.0195
3.503181336161187 2.9506249999999996
6.0 2.3575
3.039766702014846 2.024736842105263
1.818663838812301 1.93
2.864793213149523 1.9538888888888888
1.506362672322376 1.3642857142857143
2.488865323435843 1.872
1.709437963944857 1.9114285714285715
6.0 2.3575
3.501590668080594 2.2466666666666666
3.357900318133616 2.6158823529411768
3.732237539766703 2.4538095238095234
4.613467656415694 2.726
4.107104984093319 2.2538461538461543
2.450159066808059 1.9535714285714285
2.735418875927889 2.3378571428571426
2.932131495227996 2.0244444444444447
2.0 2.3575
4.550901378579004 2.48037037037037
2.638918345705196 2.2078571428571427
1.751855779427359 2.3633333333333333
3.495758218451749 2.1395454545454546
1.910392364793213 2.1462499999999998
3.963944856839873 1.9964285714285714
3.187168610816543 2.171052631578948
2.358430540827148 2.329090909090909
6.0 2.3575
3.546659597030753 2.287142857142857
1.732767762460233 1.7275
2.706256627783669 1.8929411764705886
3.257158006362673 2.2405263157894737
6.0 2.3575
2.894485683987274 1.9849999999999999
2.741251325556735 1.931764705882353
1.727995758218452 1.9614285714285713
4.3016967126193 2.830454545454545
3.044008483563097 2.7535714285714286
3.539766702014846 2.5210526315789474
1.968716861081655 1.827
3.345705196182397 2.949333333333333
2.003711558854719 1.5775
2.12407211028632 2.12
1.758218451749735 1.7875
2.291092258748674 2.2136363636363634
5.320784729586427 2.4693939393939397
4.764050901378579 2.4479310344827585
1.463414634146342 2.185
2.644220572640509 3.101
1.314952279957582 1.4849999999999999
2.42576882290562 2.2408333333333332
1.498409331919407 1.5666666666666667
4.370095440084835 2.2699999999999996
2.242311770943796 1.6735714285714287
3.216330858960764 1.9
3.0 2.3575
1.782608695652174 1.64
3.926829268292683 1.9714285714285713
1.079003181336161 1.49
3.519618239660657 2.16
3.325556733828208 2.4366666666666665
2.127253446447508 1.7716666666666667
1.327677624602333 2.06
1.394485683987275 1.488
2.246023329798515 2.6111111111111107
4.184517497348887 2.145
1.434252386002121 1.6380000000000001
3.618239660657476 2.469
2.820254506892895 2.0194117647058825
5.743372216330859 2.485
2.021739130434783 1.4823076923076923
4.997879109225876 2.154285714285714
3.887592788971368 2.4754545454545456
2.099681866383881 2.074
2.445387062566278 2.096923076923077
2.811240721102863 2.0094117647058822
1.664899257688229 1.7914285714285714
5.141039236479322 2.5193548387096776
1.722693531283139 1.7037499999999999
2.581654294803818 1.9886666666666666
1.256627783669141 1.21
5.574231177094379 2.464857142857143
1.792152704135737 2.1342857142857143
5.713679745493107 2.4694444444444446
2.373276776246023 2.158333333333333
4.659597030752917 2.0915151515151513
1.256627783669141 1.21
2.452810180275716 1.9571428571428569
5.320784729586427 2.263611111111111
1.550901378579003 1.4842857142857144
5.305408271474019 2.460606060606061
1.703605514316013 1.8957142857142855
2.063096500530223 1.6708333333333334
5.521208907741252 2.583939393939394
5.36320254506893 2.654516129032258
3.545068928950159 2.0
2.642629904559915 2.0653333333333332
3.660657476139979 2.5090000000000003
1.866383881230117 1.4854545454545454
1.322905620360552 2.03
5.198303287380701 2.1994444444444445
4.997879109225876 2.154285714285714
1.7932131495228 1.662222222222222
1.387062566277837 1.8250000000000002
3.641569459172852 1.9161538461538463
1.76458112407211 2.0599999999999996
2.534464475079534 1.80875
2.723753976670202 2.1673333333333336
2.016967126193001 1.5983333333333334
2.724814422057264 2.3235714285714284
1.932661717921527 1.759
1.909862142099682 1.7160000000000002
3.511664899257688 2.1531818181818183
3.331919406150583 2.314736842105263
2.81813361611877 2.143125
3.874867444326617 2.1688
3.865323435843055 2.078461538461539
3.295864262990456 2.1649999999999996
3.017497348886532 2.113888888888889
3.098621420996819 1.8847619047619046
1.845705196182397 1.99375
3.919406150583245 2.0392592592592593
1.670731707317073 2.53
1.613467656415694 2.8924999999999996
2.585896076352068 1.869375
1.893425238600212 1.5318181818181817
2.857900318133616 1.9466666666666663
2.285790031813362 2.425
3.778897136797455 2.278695652173913
3.233297985153765 2.216842105263158
2.708907741251326 2.0143750000000002
4.856839872746553 2.424666666666667
2.670201484623541 2.1
2.757158006362672 1.9494117647058826
3.496818663838813 2.047391304347826
1.286320254506893 1.35
1.519618239660658 1.6333333333333333
2.850477200424178 2.908333333333333
1.703605514316013 1.65875
4.154825026511134 2.2884615384615383
1.28525980911983 2.69
1.294273594909862 1.8499999999999999
1.916755037115589 1.729
4.075291622481442 2.6363636363636367
2.765641569459173 2.08125
4.281018027571581 2.578333333333333
3.998939554612938 2.6933333333333334
1.636797454931071 1.3344444444444443
1.875397667020149 1.651
1.891834570519618 2.1025
2.001060445387063 1.8880000000000001
3.623541887592789 3.0925
2.314422057264051 1.9069230769230772
2.22322375397667 2.307
3.076352067868505 1.9580000000000002
3.053022269353128 2.151111111111111
3.320254506892895 1.989090909090909
2.16914103923648 1.8375
2.986214209968186 2.34125
3.592258748674443 1.9556
2.232767762460233 1.7884615384615383
1.670731707317073 2.53
4.235949098621421 2.4412
1.67762460233298 1.5975
2.856839872746554 1.9455555555555553
2.480911983032874 1.9949999999999997
3.210498409331919 2.0845
2.435312831389184 1.691875
3.799575821845175 2.2956521739130435
4.294803817603394 2.4856
1.955991516436903 1.639090909090909
3.670201484623543 2.289090909090909
2.931071049840933 1.9168421052631581
1.801166489925769 2.1585714285714284
3.915694591728526 2.499545454545454
3.510604453870625 2.4921052631578946
3.802757158006363 2.9366666666666665
3.044538706256628 1.836190476190476
2.287910922587487 2.208181818181818
5.284199363732768 2.6933333333333334
2.61983032873807 2.0366666666666666
1.697242841993637 2.1916666666666664
4.365323435843054 2.266785714285714
1.797985153764581 1.672222222222222
3.325026511134676 2.3078947368421048
3.48356309650053 2.6022222222222218
2.035524920466596 1.6275
2.787910922587487 2.248
2.705196182396607 2.2971428571428567
2.673913043478261 2.1046666666666667
4.579003181336161 2.5961538461538463
3.225344644750796 2.0985
6.0 2.3575
3.01219512195122 2.9192307692307695
4.117179215270413 2.449583333333333
3.440615058324497 2.001304347826087
1.826617179215271 1.732222222222222
2.934252386002121 2.0266666666666664
3.826617179215271 2.050384615384616
3.07423117709438 2.173333333333333
2.832979851537646 2.033529411764706
4.594379639448569 2.510740740740741
4.997879109225876 2.154285714285714
2.774125132555674 1.7610526315789472

In [190]:
df.columns[10]

'extreme_score'

In [191]:
df.insert(11, 'extreme_score_2', x_df['Score'])

In [198]:
df[df.columns[2:12]]

,extreme_1,extreme_2,extreme_3,extreme_4,extreme_5,extreme_6,extreme_7,extreme_8,extreme_score,extreme_score_2
0,6,5,3,1,2,2,1,2,2.308059,1.762143
1,4,4,4,2,1,2,1,1,1.968187,1.660000
2,4,4,6,1,3,2,1,1,2.312831,1.768571
3,3,3,2,4,4,4,2,4,3.332980,2.444444
4,3,3,1,1,1,1,1,1,1.286320,1.350000
...,...,...,...,...,...,...,...,...,...,...
230,5,3,2,5,1,4,5,1,3.074231,2.173333
231,4,4,5,2,4,2,2,2,2.832980,2.033529
232,2,4,5,5,4,5,5,5,4.594380,2.510741
233,6,6,6,6,6,6,6,1,4.997879,2.154286
234,6,6,2,6,3,2,1,1,2.774125,1.761053

In [201]:
df = df.rename(columns={'weekly_session': 'weekly_sessions'})
df.columns

Index(['Unnamed: 0', 'time', 'extreme_1', 'extreme_2', 'extreme_3',
       'extreme_4', 'extreme_5', 'extreme_6', 'extreme_7', 'extreme_8',
       'extreme_score', 'extreme_score_2', 'PPCS_1', 'PPCS_2', 'PPCS_3',
       'PPCS_4', 'PPCS_5', 'PPCS_6', 'PPCS_score', 'PPCS_7', 'well-being',
       'father_relations', 'mother_relations', 'friends_relations',
       'romantic_life', 'sexual_life', 'reenacting', 'weekly_sessions',
       'session_time', 'weekly_minutes', 'gender', 'age', 'faith_status',
       'education', 'relationship_status', 'lives_with', 'occupation',
       'in_relationship', 'believes_in_god', 'sum_extreme'],
      dtype='object')

In [205]:
df.to_excel('data_final.xlsx')